
//===============================================================
// Item
//===============================================================


/*
Item

An individual documentation item

.item--fixed-child-width       - Doesn't allow the children to scale in width
.item--fixed-child-height       - Doesn't allow the children to scale in height
*/

@mixin child-colors($color) {
  @for $idx from 1 through 10 {
    &:nth-child(#{$idx}) {
      background-color: rgba($color, 1 - $idx * 0.07);
    }
  }
}


.item {
  display: inline-block;
  width: 27rem;
  position: relative;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.8rem;
  left: -0.8rem;

  &:hover {
    background-color: rgba(color(white), 0.06);
  }
}

  .item__heading {
    @include type-style(base-code);
    height: 2rem;
    display: inline-block;
    width: 20rem;
    position: absolute;
    left: 6.8rem;
    top: 2.2rem;
  }

  .item__container {
    width: 4.6rem;
    height: 4.6rem;
    padding: 0.4rem;
    border: 1px solid rgba(color(white), 0.2);
  }

    .item__child {
      @include child-colors(color(child));
      min-width: 0.6rem;
      min-height: 0.6rem;
      display: block;
      border: 1px solid color(black);
    }


//---------------------------------------------------------------
// Modifier: fixed child width
//---------------------------------------------------------------

.item--fixed-child-width {

  .item__child {
    width: 0.6rem;
  }
}


//---------------------------------------------------------------
// Modifier: fixed child height
//---------------------------------------------------------------

.item--fixed-child-height {

  .item__child {
    height: 0.6rem;
  }
}


//---------------------------------------------------------------
// Modifier: alt child colors 1
//---------------------------------------------------------------

.item--alt-child-colors-1 {

  .item__child {
    @include child-colors(color(child-alt));
  }
}


//---------------------------------------------------------------
// Modifier: display
//---------------------------------------------------------------

// flex
.item--container-display-flex {

  .item__container {
    display: flex;
  }
}

// inline-flex
.item--container-display-inline-flex {

  .item__container {
    display: inline-flex;
  }
}


//---------------------------------------------------------------
// Modifier: flex-direction
//---------------------------------------------------------------

// row
.item--container-flex-direction-row {

  .item__container {
    display: flex;
    flex-direction: row;
  }
}

// row-reverse
.item--container-flex-direction-row-reverse {

  .item__container {
    display: flex;
    flex-direction: row-reverse;
  }
}

// column
.item--container-flex-direction-column {

  .item__container {
    display: flex;
    flex-direction: column;
  }
}

// column-reverse
.item--container-flex-direction-column-reverse {

  .item__container {
    display: flex;
    flex-direction: column-reverse;
  }
}


//---------------------------------------------------------------
// Modifier: flex-wrap
//---------------------------------------------------------------

// nowrap
.item--container-flex-wrap-nowrap {

  .item__container {
    display: flex;
    flex-wrap: nowrap;
  }
}

// wrap
.item--container-flex-wrap-wrap {

  .item__container {
    display: flex;
    flex-wrap: wrap;
  }
}

// wrap-reverse
.item--container-flex-wrap-wrap-reverse {

  .item__container {
    display: flex;
    flex-wrap: wrap-reverse;
  }
}


//---------------------------------------------------------------
// Modifier: justify-content
//---------------------------------------------------------------

// flex-start
.item--container-justify-content-flex-start {
  
  .item__container {
    display: flex;
    justify-content: flex-start;
  }
}

// flex-end
.item--container-justify-content-flex-end {
  
  .item__container {
    display: flex;
    justify-content: flex-end;
  }
}

// center
.item--container-justify-content-center {
  
  .item__container {
    display: flex;
    justify-content: center;
  }
}

// space-between
.item--container-justify-content-space-between {
  
  .item__container {
    display: flex;
    justify-content: space-between;
  }
}

// space-around
.item--container-justify-content-space-around {
  
  .item__container {
    display: flex;
    justify-content: space-around;
  }
}


//---------------------------------------------------------------
// Modifier: align-items
//---------------------------------------------------------------

// flex-start
.item--container-align-items-flex-start {
  
  .item__container {
    display: flex;
    align-items: flex-start;
  }
}

// flex-end
.item--container-align-items-flex-end {
  
  .item__container {
    display: flex;
    align-items: flex-end;
  }
}

// center
.item--container-align-items-center {
  
  .item__container {
    display: flex;
    align-items: center;
  }
}

// baseline
.item--container-align-items-baseline {
  
  .item__container {
    display: flex;
    align-items: baseline;
  }
}

// stretch
.item--container-align-items-stretch {
  
  .item__container {
    display: flex;
    align-items: stretch;
  }
}


//---------------------------------------------------------------
// Modifier: align-content
//---------------------------------------------------------------

// flex-start
.item--container-align-content-flex-start {
  
  .item__container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

// flex-end
.item--container-align-content-flex-end {
  
  .item__container {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
  }
}

// center
.item--container-align-content-center {
  
  .item__container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
}

// space-between
.item--container-align-content-space-between {
  
  .item__container {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  }
}

// space-around
.item--container-align-content-space-around {
  
  .item__container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
  }
}

// stretch
.item--container-align-content-stretch {
  
  .item__container {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
  }
}


//---------------------------------------------------------------
// Modifier: order
//---------------------------------------------------------------

// order
.item--container-order {
  
  .item__container {
    display: flex;
  }
  
  .item__child:nth-child(1) {
    order: 50;
  }
  
  .item__child:nth-child(2) {
    order: 100;
  }
}


//---------------------------------------------------------------
// Modifier: flex-grow
//---------------------------------------------------------------

// flex-grow (all 1)
.item--container-flex-grow-all-1 {
  
  .item__container {
    display: flex;
  }
  
  .item__child {
    flex-grow: 1;
  }
}

// flex-grow (each unique)
.item--container-flex-grow-all-unique {
  
  .item__container {
    display: flex;
  }
  
  .item__child:nth-child(1) {
    flex-grow: 1;
  }
  
  .item__child:nth-child(2) {
    flex-grow: 2;
  }
  
  .item__child:nth-child(3) {
    flex-grow: 3;
  }
}


//---------------------------------------------------------------
// Modifier: flex-basis
//---------------------------------------------------------------

// flex-basis (20/30)
.item--container-flex-basis-20-40 {
  
  .item__container {
    display: flex;
  }
  
  .item__child:nth-child(1) {
    flex-basis: 20%;
  }
  
  .item__child:nth-child(2) {
    flex-basis: 40%;
  }
}


//---------------------------------------------------------------
// Modifier: flex-shrink
//---------------------------------------------------------------

// flex-shrink (all 1)
.item--container-flex-shrink-unique {
  
  .item__container {
    display: flex;
  }
  
  .item__child {
    flex-basis: 100%;
  }
  
  .item__child:nth-child(2) {
    flex-shrink: 2;
  }
}


//---------------------------------------------------------------
// Modifier: align-self
//---------------------------------------------------------------

// align-self
.item--container-align-self-unique {
  
  .item__container {
    display: flex;
    align-items: flex-start;
  }
  
  .item__child:nth-child(3) {
    align-self: flex-end;
  }
}